<section id="about_section">
    <div class="about-image">

    </div>
    <div>
        <h2>About</h2>
        <p>
            Macaroni cheese gouda chalk and cheese. Cheeseburger taleggio paneer cottage cheese say cheese cut the cheese when the cheese comes out everybody's happy jarlsberg. Feta monterey jack cow stinking bishop feta cheese and wine emmental cottage cheese. Blue castello jarlsberg who moved my cheese lancashire croque monsieur danish fontina camembert de normandie taleggio. Lancashire.
        </p>
        <button>Lean more</button>
    </div>
</section>