{% load static %}
<footer id="site_footer">
    <div id="footer_container">
        <div>
            <h4>About THokozani Mtiki Tours</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae unde necessitatibus, dolores quia atque et corrupti fugiat, illo voluptate delectus, voluptatum enim deleniti hic amet repellat adipisci aliquid ipsam sint quas!</p>
            <ul class="social_media_icons">
                <li><a href=""><img src="{% static 'icons/white_whatsapp.png' %}" alt="whatsapp link" /></a></li>
                <li><a href=""><img src="{% static 'icons/white_fb.png' %}" alt="facebook profile" /></a></li>
                <li><a href=""><img src="{% static 'icons/white_twitter.png' %}" alt="twitter handle" /></a></li>
                <li><a href=""><img src="{% static 'icons/white_insta.png' %}" alt="insta profile" /></a></li>
            </ul>
        </div>
        <div>
            <h4>Also checkout</h4>
            <ul class="footer-nav-menu">
                <li><a href="#" class="{% if 'about' in request.path %}active{% endif %}">About</a></li>
                <li><a href="{% url 'attractions' %}" class="{% if 'attractions' in request.path %}active{% endif %}">Attractions</a></li>
                <li><a href="{% url 'activities' %}" class="{% if 'activities' in request.path %}active{% endif %}">Activities</a></li>
                <li>Dining</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div>
            <h4>Help</h4>
            <ul>
                <li>Book Shuttle service</li>
                <li>Contact us on whatsapp</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div>
            <h4>Resources</h4>
            <ul>
                <li>Dlambe tourism broucher</li>
                <li>Rescue services</li>
            </ul>
        </div>
    </div>

</footer>