<nav id="main-nav">
    <div class="nav-container">
        <div id="brand-name">
            <h3 id="brand-logo">thoko pa</h3>
            <h5>Tour Guide</h5>
        </div>
        <ul id="nav-items-container">
            <li><a href="#" class="active">home</a></li>
            <li><a href="#">attractions</a></li>
            <li><a href="#">activities</a></li>
            <li><a href="#">dining</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <div id="mobile-nav-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

