{% load static %}
<section id="places-to-stay">
    <header>
        <h2>Places to stay</h2>
    </header>
    <main>
        <div class="my-card">
            <img src="{% static 'images/card_1.jpg' %}" alt="card_image" />
            <div class="card-body">
                <h3>Mpekweni beach resort</h3>
                <div class="star-rating">
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                </div>
                <p>Pecorino stilton cheese on toast. Mozzarella cheese slices pecorino chalk and cheese boursin pecorino airedale edam.</p>
            </div>
        </div>
        <div class="my-card">
            <img src="{% static 'images/card_2.jpg' %}" alt="card_image" />
            <div class="card-body">
                <h3>Oceano Grande Inn</h3>
                <div class="star-rating">
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                </div>
                <p>Pecorino stilton cheese on toast. Mozzarella cheese slices pecorino chalk and cheese boursin pecorino airedale edam.</p>
            </div>
        </div>
        <div class="my-card">
            <img src="{% static 'images/card_3.jpg' %}" alt="card_image" />
            <div class="card-body">
                <h3>Kelley's beach apartments</h3>
                <div class="star-rating">
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                </div>
                <p>Pecorino stilton cheese on toast. Mozzarella cheese slices pecorino chalk and cheese boursin pecorino airedale edam.</p>
            </div>
        </div>
    </main>
    <footer>
        <a href="#">View all</a>
    </footer>
</section>