{% load static %}
<section id="shuttle_services" >
    <main>
        
        <img id="shuttle_section_image" src="{% static 'images/shuttle_services_taxi.jpg' %}" alt="shuttle services image" />
        
        <div class="section_content">
            <div>
                <h2>Our shuttle services</h2>
                <img src="{% static 'images/shuttle_services.png' %}" alt="shuttle services icon" />
                <p>Ricotta cut the cheese gouda. Smelly cheese cheesecake cream cheese boursin lancashire hard cheese cheese and biscuits mozzarella. Smelly cheese cheesecake cream cheese boursin lancashire hard cheese cheese and biscuits mozzarella</p>
                <footer>
                    <a href="#">Learn more</a>
                </footer>
            </div>
        </div>

    </main>
</section>