{% load static %}
<section id="things-to-do">
    <header>
        <h2>Things to do</h2>
    </header>
    <main>
        <div class="todo-card">
            <img src="{% static 'images/golf_course.png' %}" alt="golf icon" />
            <h3>Play golf in Port Alfred</h3>
            <p>Cheese strings stinking bishop fromage frais jarlsberg macaroni cheese melted cheese monterey jack fromage. Cheese strings cow airedale port-salut.</p>
        </div>
        <div class="todo-card">
            <img src="{% static 'images/caraven.png' %}" alt="caravan park icon" />
            <h3>Play golf in Port Alfred</h3>
            <p>Cheese strings stinking bishop fromage frais jarlsberg macaroni cheese melted cheese monterey jack fromage. Cheese strings cow airedale port-salut.</p>
        </div>
        <div class="todo-card">
            <img src="{% static 'images/water_activities.png' %}" alt="water activities icon" />
            <h3>Play golf in Port Alfred</h3>
            <p>Cheese strings stinking bishop fromage frais jarlsberg macaroni cheese melted cheese monterey jack fromage. Cheese strings cow airedale port-salut.</p>
        </div>
    </main>
    <footer>
        <a href="{% url "activities" %}">View all</a>
    </footer>
</section>