{% extends "base.html" %}
{% load static %}

{% block title %}Attractions | Port Alfred{% endblock title %}

{% block content %}

<section id="attractions">
    <header>
        <div class="mask">
            <div class="heading-container">
                <h2><span>Welcome to </span> Port Alfred</h2>
                <h4>Attractions</h4>
            </div>
        </div>
    </header>
    <main>
        <div class="attractions-container">

            {% if attractions %}
                {% for attraction in attractions %}
                    <div class="card">
                        <img class="thumbnail" src="{{ attraction.thumb_nail.url }}" alt="" />
                        
                        <div class="card-body">
                            <a href="{{ attraction.get_absolute_url }}">
                                <h4>{{ attraction.title }}</h4>
                            </a>
                            <div class="star-rating">
                                {% if attraction.stars %}
                                    {% for star in attraction.num_of_stars %}
                                        <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </main>
    
</section>

{% comment %} {% include "partials/_shuttle_services.html" %} {% endcomment %}
    
{% endblock content %}
