{% extends "base.html" %}
{% load static %}

{% block title %}Attractions | Port Alfred{% endblock title %}

{% block content %}

<section id="restaurants">
    <header class="dining_header">
        <h2>Dining in Port Alfred</h2>
    </header>
    <section class="dining_body">
        <main>
            <div class="restaurant_card">
                <img width="20%" height="auto" src="{% static 'images/dining.jpg' %}" alt="restaurant_thumbnail" />
                <div class="restaurant_card_body">
                    <h2><a href="#">Restaurant title</a></h2>
                    <div class="restaurant_star_rating">
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                    </div>
                    <div class="restaurant_tags">
                        <span>Burdgers</span>,
                        <span>Ribs</span>,
                        <span>Pizzas</span>,
                        <span>Sea food</span>,
                        <span>Sushi</span>,
                    </div>
                    <div class="address">
                        23 Warf Street, Port Alfred, Eastern Cape, 6170
                    </div>
                </div>
            </div>
            <div class="restaurant_card">
                <img width="20%" height="auto" src="{% static 'images/dining.jpg' %}" alt="restaurant_thumbnail" />
                <div class="restaurant_card_body">
                    <h2><a href="#">Restaurant title</a></h2>
                    <div class="restaurant_star_rating">
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                    </div>
                    <div class="restaurant_tags">
                        <span>Burdgers</span>,
                        <span>Ribs</span>,
                        <span>Pizzas</span>,
                        <span>Sea food</span>,
                        <span>Sushi</span>,
                    </div>
                    <div class="address">
                        23 Warf Street, Port Alfred, Eastern Cape, 6170
                    </div>
                </div>
            </div>
            <div class="restaurant_card">
                <img width="20%" height="auto" src="{% static 'images/dining.jpg' %}" alt="restaurant_thumbnail" />
                <div class="restaurant_card_body">
                    <h2><a href="#">Restaurant title</a></h2>
                    <div class="restaurant_star_rating">
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                    </div>
                    <div class="restaurant_tags">
                        <span>Burdgers</span>,
                        <span>Ribs</span>,
                        <span>Pizzas</span>,
                        <span>Sea food</span>,
                        <span>Sushi</span>,
                    </div>
                    <div class="address">
                        23 Warf Street, Port Alfred, Eastern Cape, 6170
                    </div>
                </div>
            </div>
            <div class="restaurant_card">
                <img width="20%" height="auto" src="{% static 'images/dining.jpg' %}" alt="restaurant_thumbnail" />
                <div class="restaurant_card_body">
                    <h2><a href="#">Restaurant title</a></h2>
                    <div class="restaurant_star_rating">
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                    </div>
                    <div class="restaurant_tags">
                        <span>Burdgers</span>,
                        <span>Ribs</span>,
                        <span>Pizzas</span>,
                        <span>Sea food</span>,
                        <span>Sushi</span>,
                    </div>
                    <div class="address">
                        23 Warf Street, Port Alfred, Eastern Cape, 6170
                    </div>
                </div>
            </div>
            <div class="restaurant_card">
                <img width="20%" height="auto" src="{% static 'images/dining.jpg' %}" alt="restaurant_thumbnail" />
                <div class="restaurant_card_body">
                    <h2><a href="#">Restaurant title</a></h2>
                    <div class="restaurant_star_rating">
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                        <img width="auto" height="auto" src="{% static 'images/star_rating.svg' %}" alt="star" />
                    </div>
                    <div class="restaurant_tags">
                        <span>Burdgers</span>,
                        <span>Ribs</span>,
                        <span>Pizzas</span>,
                        <span>Sea food</span>,
                        <span>Sushi</span>,
                    </div>
                    <div class="address">
                        23 Warf Street, Port Alfred, Eastern Cape, 6170
                    </div>
                </div>
            </div>

        </main>
        <aside>

        </aside>
    </section>
</section>

{% comment %} {% include "partials/_shuttle_services.html" %} {% endcomment %}
    
{% endblock content %}
