{% extends "base.html" %}
{% load static %}

{% block title %}Attractions | Port Alfred{% endblock title %}

{% block content %}

<section id="restaurants">
    <header class="dining_header">
        <h2>Dining in Port Alfred</h2>
    </header>
    <section class="restaurants-lead">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus aspernatur enim cumque dolorum! Sint, ad. Repudiandae hic dolorem iusto quod nesciunt commodi corporis modi nisi minus, dignissimos a et dolore! </p>
    </section>
    <section class="dining_body">
        <main>
            {% for restaurant in restaurants %}
                <div class="restaurant_card">
                    <img class="restaurant_thumbnail" width="20%" height="auto" src="{{ restaurant.thumb_nail.url }}" alt="restaurant_thumbnail" />
                    <div class="restaurant_card_body">
                        <h2><a href="{{ restaurant.get_absolute_url }}">{{ restaurant.title }}</a></h2>
                        
                        {% if restaurant.stars %}
                            <div class="restaurant_star_rating">
                                {% for star in restaurant.num_of_stars %}
                                    <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                                {% endfor %}
                            </div>
                        {% endif %}
                        <ul class="restaurant_details">
                            {% if restaurant.food_sold %}
                                <li class="food_sold"> {{ restaurant.food_sold }} </li>
                            {% endif %}
                            {% if restaurant.business_times %}
                                <li>
                                    <img width="auto" height="auto" src="{% static 'icons/contact_number.png' %}" alt="website icon" />
                                    {{ restaurant.business_times }}
                                </li>
                            {% endif %}
                            <li>
                                <img width="auto" height="auto" src="{% static 'icons/location.png' %}" alt="website icon" />
                                {{ restaurant.address_street }}, {{ restaurant.address_town }}, {{ restaurant.address_postal_code }}
                            </li>
                            {% if restaurant.contact_number %}
                                <li>
                                    <img width="auto" height="auto" src="{% static 'icons/contact_number.png' %}" alt="website icon" />
                                    {{ restaurant.contact_number }}
                                </li>
                            {% endif %}
                            {% if restaurant.website %}
                                <li>
                                    <img width="auto" height="auto" src="{% static 'icons/website_icon.png' %}" alt="website icon" />
                                    <a href="{{ restuarant.website }}" target="_blank">{{ restaurant.website }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% empty %}
                <h3>No Restaurants added yet</h3>
            {% endfor %}
            

        </main>
        <aside>

        </aside>
    </section>
</section>

{% comment %} {% include "partials/_shuttle_services.html" %} {% endcomment %}
    
{% endblock content %}
