{% extends "base.html" %}
{% load static %}

{% block title %}{{ attraction.title }}{% endblock title %}

{% block content %}

<section class="single_page_details">
    <div class="single_page_container">
        <header class="single_page_bread_crumbs">
            <a href="./"><img src="{% static 'icons/arrow_back.png' %}" alt="arrow back to previous page" /></a>
            <ul>
                <li><a href="{% url "home" %}">home /</a></li>
                <li><a href="{% url "dining" %}">dining /</a></li>
                <li><a href="">{{ restaurant.title | lower }}</a></li>
            </ul>
        </header>

        {% comment %} Single attraction main section {% endcomment %}
        <main class="single_page_content_container">
            <div class="single_page_hero" style="background-image: url('{{ restaurant.thumb_nail.url }}')">
                <div class="over-lay"></div>
                <h3>{{ restaurant.title }}</h3>
                {% if restaurant.stars %}
                    <div class="single_page_star_rating">
                        {% for star in restaurant.number_of_stars %}
                            <img src="{% static 'images/star_rating.svg' %}" alt="star" />
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="single_page_body">
                <ul class="single_page_info">
                    {% if restaurant.contact_person %}
                        <li>
                            <img src="{% static "icons/contact_person.png" %}" alt="" />
                            <span>{{ restaurant.contact_person }}</span></li>
                    {% endif %}

                    {% if restaurant.business_times %}
                        <li>
                            <img src="{% static "icons/time.png" %}" alt="" />
                            <a href="">{{ restaurant.business_times }}</a></li>
                    {% endif %}


                    {% if restaurant.website %}
                        <li>
                            <img src="{% static "icons/website_icon.png" %}" alt="" />
                            <a href="{{ restaurant.website }}" target="_blank" >{{ restaurant.website }}</a></li>
                    {% endif %}

                    {% if restaurant.contact_number %}
                        <li>
                            <img src="{% static "icons/contact_number.png" %}" alt="" />
                            <a href="">{{ restaurant.contact_number }}</a></li>
                    {% endif %}

                    {% if restaurant.address_street %}
                        <li>
                            <img src="{% static "icons/location.png" %}" alt="" />
                            {{ restaurant.address_street }} <br/>{{ restaurant.address_town }}<br />{{ restaurant.address_postal_code }}
                        </li>
                    {% endif %}
                    
                    {% if restaurant.facebook_page_name and restaurant.facebook_page_link %}
                        <li>
                            <img src="{% static "icons/facebook_icon.png" %}" alt="" />
                            <a href="{{ restaurant.facebook_page_link }}" target="_blank">{{ restaurant.facebook_page_name }}</a></li>
                    {% endif %}

                    {% if restaurant.twitter_handle and restaurant.twitter_profile_link %}
                        <li>
                            <img src="{% static "icons/twitter_icon.png" %}" alt="" />
                            <a href="{{ restaurant.twitter_profile_link }}">{{ restaurant.twitter_handle }}</a></li>
                    {% endif %}
                    
                </ul>

                <div class="single_page_content">
                    {{ restaurant.owner_description | safe }}
                </div>
            </div>
        </main>

        {% comment %} More attraction {% endcomment %}
        <header class="single_page_others_heading">
            <h3>More restaurants</h3>
        </header>

        <main class="more-attractions">
            <div class="attractions-container">
    
                Add list of restaurant here
    
            </div>
        </main>

        {% comment %} More attraction {% endcomment %}
        <footer class="single_page_view_all_footer">
            <a href="{% url "dining" %}"><h3>View All</h3></a>
        </footer>

    </div>
</section>

{% include "partials/_shuttle_services.html" %}
    
{% endblock content %}
