{% extends "base.html" %}
{% load static %}

{% block title %}{{ activity.title }}{% endblock title %}

{% block content %}

<section id="activity-single-page">
    <div class="section-container">
        <header>
            <a href="./"><img src="{% static 'icons/arrow_back.png' %}" alt="arrow back to previous page" /></a>
            <ul>
                <li><a href="{% url "home" %}">home /</a></li>
                <li><a href="{% url "activities" %}">activities /</a></li>
                <li><a href="">{{ activity.title }}</a></li>
            </ul>
        </header>
        <main id="activity-container">
            <div id="activity-main-image" style="background-image: url('{{ activity.thumb_nail.url }}')">
                <div class="over-lay"></div>
                <h3>{{ activity.title }}</h3>
            </div>
            <div class="activity-body">
                <ul class="activity-contact-details">
                    {% if activity.contact_person %}
                        <li>
                            <img src="{% static "icons/contact_person.png" %}" alt="" />
                            <span>{{ activity.contact_person }}</span></li>
                    {% endif %}

                    {% if activity.location %}
                        <li>
                            <img src="{% static "icons/location.png" %}" alt="" />
                            <a href="">{{ activity.location }}</a></li>
                    {% endif %}


                    {% if activity.website %}
                        <li>
                            <img src="{% static "icons/website_icon.png" %}" alt="" />
                            <a href="{{ activity.website }}" target="_blank">{{ activity.website }}</a></li>
                    {% endif %}

                    {% if activity.contact_number %}
                        <li>
                            <img src="{% static "icons/contact_number.png" %}" alt="" />
                            <a href="">{{ activity.contact_number }}</a></li>
                    {% endif %}

                    {% if activity.email %}
                        <li>
                            <img src="{% static "icons/email_icon.png" %}" alt="" />
                            <a href="">{{ activity.email }}</a></li>
                    {% endif %}
                    
                    {% if activity.facebook_page_name and activity.facebook_page_link %}
                        <li>
                            <img src="{% static "icons/facebook_icon.png" %}" alt="" />
                            <a href="{{ activity.facebook_page_link }}" target="_blank">{{ activity.facebook_page_name }}</a></li>
                    {% endif %}

                    {% if activity.twitter_handle and activity.twitter_profile_link %}
                        <li>
                            <img src="{% static "icons/twitter_icon.png" %}" alt="" />
                            <a href="{{ activity.twitter_profile_link }}">{{ activity.twitter_handle }}</a></li>
                    {% endif %}
                    
                </ul>

                <div class="description">
                    {{ activity.content | safe }}
                </div>
            </div>

            <div class="more-links">
                <div style="background-image: url('{% static "/images/card_1.jpg" %}')"></div>
                <div style="background-image: url('{% static "/images/card_2.jpg" %}')"></div>
                <div style="background-image: url('{% static "images/card_3.jpg" %}')"></div>
                <div style="background-image: url('{% static "images/horse_riding.jpg" %}')"></div>
                <div style="background-image: url('{% static "images/shuttle_services_taxi.jpg" %}')"></div>
                <div style="background-image: url('{{ activity.thumb_nail.url }}')"></div>
            </div>
        </main>
    </div>
</section>

{% include "partials/_shuttle_services.html" %}
    
{% endblock content %}
