/* Media query screen sizes */
/* Media Query */
/* Media Query */
* {
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  h2 {
    font-size: 1.7em !important;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Menu */
#main-nav {
  position: relative;
  font-family: "Montserrat", sans-serif;
  z-index: 100;
}
#main-nav .nav-container {
  position: relative;
  max-width: 1440px;
  height: 66px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  #main-nav .nav-container {
    padding: 0 20px;
  }
}
@media (max-width: 425px) {
  #main-nav .nav-container {
    height: 10vh;
  }
}
#main-nav .nav-container #brand-name #brand-logo {
  margin: 0;
  font-weight: 900;
  font-size: 20px;
}
#main-nav .nav-container #brand-name h5 {
  font-size: 14px;
  text-transform: none;
  margin: 0;
}
#main-nav .nav-container div.nav-items-container {
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #main-nav .nav-container div.nav-items-container {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
  }
}
#main-nav .nav-container div.nav-items-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#main-nav .nav-container div.nav-items-container ul li {
  margin: 0 20px;
}
#main-nav .nav-container div.nav-items-container ul a {
  text-decoration: none;
  color: inherit;
}
#main-nav .nav-container div.nav-items-container ul a.active {
  color: #078088;
  font-weight: 900;
}
@media (max-width: 768px) {
  #main-nav .nav-container div.nav-items-container ul {
    position: relative;
    right: -120%;
    top: 0;
    width: 100%;
    background-color: #ffffff;
  }
  #main-nav .nav-container div.nav-items-container ul li {
    padding: 1em 0;
  }
  #main-nav .nav-container div.nav-items-container ul.open {
    display: flex;
    right: 0;
  }
}
@media (max-width: 425px) {
  #main-nav .nav-container div.nav-items-container ul {
    flex-direction: column;
    padding: 1em 0.5em;
  }
  #main-nav .nav-container div.nav-items-container ul li {
    padding: 0.5em 0;
  }
}
#main-nav .nav-container #mobile-nav-button {
  display: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
#main-nav .nav-container #mobile-nav-button span {
  display: block;
  width: 30px;
  height: 4px;
  background: #2c4971;
}
#main-nav .nav-container #mobile-nav-button span:nth-child(2) {
  margin: 4px 0;
}
@media (max-width: 768px) {
  #main-nav .nav-container #mobile-nav-button {
    display: block;
  }
}

/* Hero */
#hero {
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #hero {
    height: 500px;
  }
}
@media (max-width: 425px) {
  #hero {
    height: 70vh;
  }
}
#hero div {
  background: rgba(1, 117, 140, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
  width: 900px;
  height: 360px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#hero div h2 {
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
}
#hero div p {
  font-size: 20px;
}
@media (max-width: 768px) {
  #hero div {
    max-height: 300px;
  }
}
@media (max-width: 425px) {
  #hero div {
    margin: 1rem;
    height: auto;
    padding: 2rem 1rem;
  }
  #hero div h2 {
    font-size: 30px;
  }
  #hero div p {
    font-size: 18px;
    text-align: center;
  }
}

#cta {
  background-color: #2C4971;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 500ms ease-in-out;
}
#cta h3 {
  font-size: 20px;
  margin: 0;
  margin-right: 4rem;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
#cta button {
  border: 1px solid #fff;
  background: #078088;
  color: #fff;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  #cta {
    height: 20vh;
    flex-direction: column;
    padding: 20px;
  }
  #cta h3 {
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
  }
}

#about_section {
  background: #EBEAEA;
  display: flex;
  align-items: stretch;
  margin-bottom: 4rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #about_section {
    margin-bottom: 2rem;
  }
}
#about_section div.about-image {
  width: 40%;
  background-image: url("../images/about_section.jpg");
  background-size: cover;
  background-position: center center;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #about_section div.about-image {
    display: none;
  }
}
#about_section div {
  width: 60%;
  position: relative;
  padding: 4rem 4rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #about_section div {
    width: 100%;
  }
}
@media (max-width: 425px) {
  #about_section div {
    padding: 2.5rem 1rem;
  }
}
#about_section div h2 {
  color: #2c4971;
  font-size: 40px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#about_section div h2::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80px;
  left: 0;
  bottom: 0;
  background: #078088;
}
#about_section div p {
  font-size: 18px;
  width: 70%;
  line-height: 162.9%;
  margin-bottom: 50px;
  transition: all 2s ease;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #about_section div p {
    font-size: 16px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  #about_section div p {
    margin-bottom: 20px;
  }
}
#about_section div button {
  border: 2px solid #fff;
  background: #2C4971;
  color: #fff;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

#places-to-stay {
  margin-bottom: 5rem;
  padding: 2rem 0 20px 0;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #places-to-stay {
    margin-bottom: 3rem;
  }
}
#places-to-stay header {
  text-align: center;
}
#places-to-stay header h2 {
  margin-bottom: 48px;
  font-size: 40px;
  color: #2c4971;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #places-to-stay header h2 {
    margin-bottom: 30px;
  }
}
#places-to-stay main {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #places-to-stay main {
    flex-direction: column;
  }
}
#places-to-stay main .my-card {
  width: 33%;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#places-to-stay main .my-card:nth-child(2) {
  margin: 0 20px;
}
@media (max-width: 768px) {
  #places-to-stay main .my-card {
    width: 49%;
  }
  #places-to-stay main .my-card:nth-child(2) {
    margin: 0 0;
  }
  #places-to-stay main .my-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 425px) {
  #places-to-stay main .my-card {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 1em;
  }
}
#places-to-stay main .my-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #places-to-stay main .my-card img {
    height: 200px;
  }
}
#places-to-stay main .my-card .card-body {
  margin-top: 18px;
  background-color: #e6e6e6;
  padding: 2rem 40px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #places-to-stay main .my-card .card-body {
    margin-top: 0;
    padding: 1em;
  }
}
#places-to-stay main .my-card .card-body h3 {
  color: #2c4971;
  font-size: 18px;
  text-align: center;
}
#places-to-stay main .my-card .card-body .star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  transition: all 500ms ease-in-out;
}
#places-to-stay main .my-card .card-body .star-rating img {
  width: 24px;
  height: 19px;
}
@media (max-width: 425px) {
  #places-to-stay main .my-card .card-body .star-rating {
    margin-bottom: 10px;
  }
}
#places-to-stay main .my-card .card-body p {
  text-align: center;
  margin: 0;
}
#places-to-stay footer {
  text-align: center;
}
#places-to-stay footer a {
  display: inline-block;
  margin-top: 40px;
  background: #078088;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 500ms ease;
  transition: all 500ms ease-in-out;
}
#places-to-stay footer a:hover {
  background-color: #2c4971;
}
@media (max-width: 425px) {
  #places-to-stay footer a {
    margin-top: 20px;
  }
}

#things-to-do {
  margin-bottom: 4rem;
  padding: 0 1rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #things-to-do {
    padding: 0 1em;
  }
}
@media (max-width: 425px) {
  #things-to-do {
    padding: 0 10px;
    margin-bottom: 2.5rem;
  }
}
#things-to-do header {
  max-width: 1300px;
  margin: 0 auto;
}
#things-to-do header h2 {
  color: #2c4971;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  transition: all 500ms ease-in-out;
}
#things-to-do header h2::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80px;
  left: 0;
  bottom: 0;
  background: #078088;
}
@media (max-width: 1024px) {
  #things-to-do header h2 {
    margin-left: 2rem;
  }
}
#things-to-do main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  position: relative;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #things-to-do main {
    padding-bottom: 0;
  }
}
#things-to-do main div.todo-card {
  text-align: center;
  padding: 1rem 2rem;
  width: 33%;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #things-to-do main div.todo-card {
    padding: 1rem;
  }
}
@media (max-width: 425px) {
  #things-to-do main div.todo-card {
    padding: 0;
  }
  #things-to-do main div.todo-card:nth-child(2) {
    padding: 0 10px;
  }
}
#things-to-do main div.todo-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #things-to-do main div.todo-card img {
    width: 40px;
    height: 40px;
  }
}
#things-to-do main div.todo-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2c4971;
  margin-bottom: 25px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #things-to-do main div.todo-card h3 {
    font-size: 14px;
    text-transform: none;
  }
}
#things-to-do main div.todo-card p {
  text-align: left;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #things-to-do main div.todo-card p {
    display: none;
  }
}
#things-to-do footer {
  text-align: center;
  margin-bottom: 5rem;
}
#things-to-do footer a {
  display: inline-block;
  background: #078088;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 500ms ease;
}
#things-to-do footer a:hover {
  background-color: #2c4971;
}

#shuttle_services {
  margin-bottom: 10rem;
  padding: 0 1em;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #shuttle_services {
    padding: 0 1em;
    margin-bottom: 5rem;
  }
}
@media (max-width: 425px) {
  #shuttle_services {
    padding: 0 5px;
    margin-bottom: 5px;
  }
}
#shuttle_services main {
  width: 100%;
  max-width: 1300px;
  min-height: 540px;
  margin: 0 auto;
  position: relative;
}
#shuttle_services main #shuttle_section_image {
  width: 45%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  object-fit: cover;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #shuttle_services main #shuttle_section_image {
    width: 40%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  #shuttle_services main #shuttle_section_image {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 425px) {
  #shuttle_services main #shuttle_section_image {
    height: 250px;
  }
}
#shuttle_services main .section_content {
  width: 65%;
  min-height: 450px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #078088;
  z-index: 1;
  padding: 3em;
  display: grid;
  justify-items: end;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #shuttle_services main .section_content {
    width: 70%;
  }
}
@media (max-width: 768px) {
  #shuttle_services main .section_content {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 425px) {
  #shuttle_services main .section_content {
    padding: 2.5em 1.5em;
  }
}
#shuttle_services main .section_content div {
  width: 80%;
  color: #ffffff;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #shuttle_services main .section_content div {
    width: 100%;
  }
}
#shuttle_services main .section_content div h2 {
  color: #ffffff;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#shuttle_services main .section_content div h2::after {
  content: "";
  height: 4px;
  background: #ffffff;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#shuttle_services main .section_content div img {
  margin-bottom: 20px;
}
#shuttle_services main .section_content div footer {
  text-align: end;
  padding-right: 3em;
  transition: all 500ms ease-in-out;
}
#shuttle_services main .section_content div footer a {
  display: inline-block;
  margin-top: 40px;
  background: #2c4971;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 500ms ease;
  outline: 1px solid transparent;
}
#shuttle_services main .section_content div footer a:hover {
  outline: 1px solid #ffffff;
}
@media (max-width: 425px) {
  #shuttle_services main .section_content div footer a {
    margin-top: 20px;
  }
}

#site_footer {
  background-color: #2c4971;
  color: #ffffff;
}
#site_footer #footer_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 4em 0;
  display: flex;
  justify-content: space-between;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #site_footer #footer_container {
    padding: 3em 1em;
  }
}
@media (max-width: 425px) {
  #site_footer #footer_container {
    flex-direction: column;
    padding-bottom: 0;
  }
}
#site_footer #footer_container div {
  width: 20%;
  padding: 0 2em;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#site_footer #footer_container div:first-child {
  width: 40%;
  padding-right: 4em;
}
@media (max-width: 1024px) {
  #site_footer #footer_container div {
    padding: 0 0.5em;
  }
  #site_footer #footer_container div:first-child {
    padding-right: 2em;
  }
}
@media (max-width: 425px) {
  #site_footer #footer_container div {
    width: 100%;
    margin-bottom: 2rem;
  }
  #site_footer #footer_container div:first-child {
    width: 100%;
  }
  #site_footer #footer_container div:last-child {
    border: none;
  }
}
#site_footer #footer_container div h4 {
  font-size: 20px;
}
#site_footer #footer_container div ul {
  list-style-type: none;
  padding: 0;
}
#site_footer #footer_container div ul.social_media_icons li {
  display: inline-block;
  margin: 0 10px;
}
#site_footer #footer_container div ul.footer-nav-menu li {
  font-size: 16px;
  padding-bottom: 5px;
}
#site_footer #footer_container div ul.footer-nav-menu li a.active {
  font-weight: bold;
  color: #078088;
  text-shadow: 2px 2px 2px black;
}

#activities .section-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}
#activities header {
  margin: 3rem 0;
  padding-left: 4rem;
  transition: all 500ms ease-in-out;
}
#activities header h2 {
  font-size: 40px;
  color: #2c4971;
}
@media (max-width: 1024px) {
  #activities header {
    padding: 0 2rem;
  }
}
#activities main#activities-container {
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #activities main#activities-container {
    padding: 0 2rem;
  }
}
@media (max-width: 425px) {
  #activities main#activities-container {
    padding: 0;
  }
}
#activities .activity-card {
  display: flex;
  margin-bottom: 6rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #activities .activity-card {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  #activities .activity-card {
    margin-bottom: 4rem;
  }
}
#activities .activity-card .activity-image {
  width: 40%;
  max-height: 400px;
  position: relative;
  text-align: right;
  background-color: #2c4971;
  background-size: cover;
  transition: all 500ms ease-in-out;
}
#activities .activity-card .activity-image a {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: -10px;
  background-color: #2c4971;
  color: #ffffff;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 768px) {
  #activities .activity-card .activity-image {
    width: 100%;
    height: 350px;
  }
}
#activities .activity-card .activity-content {
  width: 60%;
  padding: 4rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#activities .activity-card .activity-content h3 {
  color: #2c4971;
  font-size: 18px;
  font-weight: 700;
}
#activities .activity-card .activity-content h2 {
  color: #078088;
  text-transform: capitalize;
  margin-bottom: 1em;
  font-weight: 400;
}
#activities .activity-card .activity-content p {
  font-size: 17px;
  line-height: 30px;
  width: 80%;
}
@media (max-width: 1024px) {
  #activities .activity-card .activity-content {
    padding: 2rem 2rem 1rem 2rem;
  }
  #activities .activity-card .activity-content p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #activities .activity-card .activity-content {
    width: 100%;
  }
}
@media (max-width: 425px) {
  #activities .activity-card .activity-content {
    padding: 1rem 10px 2rem 10px;
  }
  #activities .activity-card .activity-content h3, #activities .activity-card .activity-content h2 {
    padding: 0 1rem;
  }
  #activities .activity-card .activity-content h2 {
    margin-bottom: 0.5em;
  }
  #activities .activity-card .activity-content p {
    line-height: 22px;
    font-size: 16px;
  }
}

#activity-single-page header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#activity-single-page header img {
  margin-right: 20px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #activity-single-page header img {
    margin-right: 10px;
  }
}
#activity-single-page header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#activity-single-page header ul li {
  display: inline-block;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #activity-single-page header ul li {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  #activity-single-page header {
    padding-left: 20px;
  }
}
@media (max-width: 425px) {
  #activity-single-page header {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
#activity-single-page #activity-container {
  max-width: 1440px;
  margin: 0 auto 6rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  #activity-single-page #activity-container {
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  #activity-single-page #activity-container {
    padding: 0 10px;
  }
}
#activity-single-page #activity-container div#activity-main-image {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center center no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #activity-single-page #activity-container div#activity-main-image {
    height: 300px;
  }
}
#activity-single-page #activity-container div#activity-main-image div.over-lay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2c4971 0%, rgba(0, 212, 255, 0) 100%);
}
#activity-single-page #activity-container div#activity-main-image h3 {
  z-index: 10;
  color: white;
}
#activity-single-page #activity-container div.activity-body {
  display: flex;
  gap: 20px;
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto 2rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #activity-single-page #activity-container div.activity-body {
    flex-direction: column;
  }
}
#activity-single-page #activity-container div.activity-body ul.activity-contact-details {
  width: 35%;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#activity-single-page #activity-container div.activity-body ul.activity-contact-details li {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: black;
}
#activity-single-page #activity-container div.activity-body ul.activity-contact-details li img {
  margin-right: 20px;
  width: 24px;
  height: auto;
}
@media (max-width: 768px) {
  #activity-single-page #activity-container div.activity-body ul.activity-contact-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #activity-single-page #activity-container div.activity-body ul.activity-contact-details li {
    width: 50%;
  }
}
@media (max-width: 425px) {
  #activity-single-page #activity-container div.activity-body ul.activity-contact-details li {
    width: 100%;
    padding-bottom: 10px;
  }
}
#activity-single-page #activity-container div.activity-body div {
  width: 65%;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #activity-single-page #activity-container div.activity-body div {
    width: 100%;
  }
}
#activity-single-page #activity-container div.more-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #activity-single-page #activity-container div.more-links {
    padding: 0;
    position: relative;
  }
  #activity-single-page #activity-container div.more-links::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    border: 2px solid #2c4971;
  }
}
#activity-single-page #activity-container div.more-links div {
  width: 32.66%;
  height: 300px;
  background: center center no-repeat;
  background-size: cover;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #activity-single-page #activity-container div.more-links div {
    width: 32.5%;
    height: 200px;
  }
}
@media (max-width: 768px) {
  #activity-single-page #activity-container div.more-links div {
    width: 49.2%;
  }
}
@media (max-width: 425px) {
  #activity-single-page #activity-container div.more-links div {
    width: 100%;
  }
  #activity-single-page #activity-container div.more-links div:nth-last-child(-n+2) {
    display: none;
  }
}

#attractions {
  position: relative;
}
#attractions header {
  height: 50vh;
  background-image: url("../images/land_rover.jpg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.651);
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #attractions header {
    background-size: cover;
  }
}
#attractions header:hover {
  background-size: 105% auto;
}
#attractions header .mask {
  height: 100%;
  background-color: rgba(44, 73, 113, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
#attractions header .mask .heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}
#attractions header .mask .heading-container h2 {
  font-size: 50px;
  margin: 0;
}
#attractions header .mask .heading-container h2 span {
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
}
#attractions header .mask .heading-container h4 {
  margin: 0;
}

main.attractions {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  main.attractions {
    padding: 10px;
  }
}
main.attractions .attractions-container {
  position: relative;
  top: -10vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main.attractions .attractions-container div.card {
  width: 24%;
  background-color: #f1f1f1;
  margin: 5px;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
main.attractions .attractions-container div.card img.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
main.attractions .attractions-container div.card .card-body {
  padding: 10px 20px 20px 20px;
}
main.attractions .attractions-container div.card .card-body h4 {
  margin: 0 0 5px 0;
  padding: 0;
  text-transform: capitalize;
  color: #2c4971;
  font-size: 0.95em;
}
main.attractions .attractions-container div.card .card-body .star-rating {
  display: flex;
}
main.attractions .attractions-container div.card .card-body .star-rating img {
  width: auto;
  height: auto;
}
main.attractions .attractions-container div.card .card-body .location {
  padding: 5px 0 0 0;
  font-size: 13px;
}
@media (max-width: 1024px) {
  main.attractions .attractions-container div.card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  main.attractions .attractions-container div.card {
    width: 45%;
  }
}
@media (max-width: 425px) {
  main.attractions .attractions-container div.card {
    width: 100%;
    margin: 0 0 10px 0;
  }
  main.attractions .attractions-container div.card:last-child, main.attractions .attractions-container div.card:nth-child(7), main.attractions .attractions-container div.card:nth-child(6), main.attractions .attractions-container div.card:nth-child(5) {
    display: none;
  }
}

#attraction-single-page {
  /* 
      Main part of the page contains details of a single attraction. 
  */
}
#attraction-single-page header.attraction-main-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#attraction-single-page header.attraction-main-header img {
  margin-right: 20px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #attraction-single-page header.attraction-main-header img {
    margin-right: 10px;
  }
}
#attraction-single-page header.attraction-main-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#attraction-single-page header.attraction-main-header ul li {
  display: inline-block;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #attraction-single-page header.attraction-main-header ul li {
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  #attraction-single-page header.attraction-main-header {
    padding-left: 20px;
  }
}
@media (max-width: 425px) {
  #attraction-single-page header.attraction-main-header {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
#attraction-single-page #attraction-container {
  max-width: 1440px;
  margin: 0 auto 6rem;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  #attraction-single-page #attraction-container {
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  #attraction-single-page #attraction-container {
    padding: 0 10px;
  }
}
#attraction-single-page #attraction-container div#activity-main-image {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center center no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #attraction-single-page #attraction-container div#activity-main-image {
    height: 300px;
  }
}
#attraction-single-page #attraction-container div#activity-main-image div.over-lay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #2c4971 0%, rgba(0, 212, 255, 0) 100%);
}
#attraction-single-page #attraction-container div#activity-main-image h3 {
  z-index: 10;
  color: white;
}
#attraction-single-page #attraction-container div.activity-body {
  display: flex;
  gap: 20px;
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto 2rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #attraction-single-page #attraction-container div.activity-body {
    flex-direction: column;
  }
}
#attraction-single-page #attraction-container div.activity-body ul.activity-contact-details {
  width: 35%;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#attraction-single-page #attraction-container div.activity-body ul.activity-contact-details li {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: black;
}
#attraction-single-page #attraction-container div.activity-body ul.activity-contact-details li img {
  margin-right: 20px;
  width: 24px;
  height: auto;
}
@media (max-width: 768px) {
  #attraction-single-page #attraction-container div.activity-body ul.activity-contact-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #attraction-single-page #attraction-container div.activity-body ul.activity-contact-details li {
    width: 50%;
  }
}
@media (max-width: 425px) {
  #attraction-single-page #attraction-container div.activity-body ul.activity-contact-details li {
    width: 100%;
    padding-bottom: 10px;
  }
}
#attraction-single-page #attraction-container div.activity-body div {
  width: 65%;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #attraction-single-page #attraction-container div.activity-body div {
    width: 100%;
  }
}
#attraction-single-page header.attraction-more-heading {
  text-align: center;
  color: #2c4971;
  margin-bottom: 2rem;
}
#attraction-single-page main.more-attractions {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 2rem;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  #attraction-single-page main.more-attractions {
    padding: 0 10px;
  }
}
#attraction-single-page main.more-attractions .attractions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#attraction-single-page main.more-attractions .attractions-container div.card {
  width: 24%;
  background-color: #f1f1f1;
  margin: 5px;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#attraction-single-page main.more-attractions .attractions-container div.card img.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#attraction-single-page main.more-attractions .attractions-container div.card .card-body {
  padding: 10px 20px 20px 20px;
}
#attraction-single-page main.more-attractions .attractions-container div.card .card-body h4 {
  margin: 0 0 5px 0;
  padding: 0;
  text-transform: capitalize;
  color: #2c4971;
  font-size: 0.95em;
}
#attraction-single-page main.more-attractions .attractions-container div.card .card-body .star-rating {
  display: flex;
}
#attraction-single-page main.more-attractions .attractions-container div.card .card-body .star-rating img {
  width: auto;
  height: auto;
}
#attraction-single-page main.more-attractions .attractions-container div.card .card-body .location {
  padding: 5px 0 0 0;
  font-size: 13px;
}
@media (max-width: 1024px) {
  #attraction-single-page main.more-attractions .attractions-container div.card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  #attraction-single-page main.more-attractions .attractions-container div.card {
    width: 45%;
  }
}
@media (max-width: 425px) {
  #attraction-single-page main.more-attractions .attractions-container div.card {
    width: 100%;
    margin: 0 0 10px 0;
  }
  #attraction-single-page main.more-attractions .attractions-container div.card:last-child, #attraction-single-page main.more-attractions .attractions-container div.card:nth-child(7), #attraction-single-page main.more-attractions .attractions-container div.card:nth-child(6), #attraction-single-page main.more-attractions .attractions-container div.card:nth-child(5) {
    display: none;
  }
}
#attraction-single-page footer.attraction-view-all {
  text-align: center;
  color: #2c4971;
  margin-bottom: 4rem;
}

#restaurants header.dining_header {
  background-image: url("../images/dining.jpg");
  background-size: cover cover;
  background-position: center center;
  padding: 2rem 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}
#restaurants header.dining_header h2 {
  text-shadow: 2px 2px 2px #000;
}
#restaurants section.restaurants-lead {
  padding: 2em 10px;
}
#restaurants section.restaurants-lead p {
  text-align: center;
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 768px) {
  #restaurants section.restaurants-lead p {
    width: 100%;
  }
}
@media (max-width: 425px) {
  #restaurants section.restaurants-lead p {
    font-size: 16px;
  }
}
#restaurants section.dining_body {
  max-width: 1440px;
  margin: 2rem auto;
  display: flex;
  transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1440px) {
  #restaurants section.dining_body {
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  #restaurants section.dining_body {
    flex-direction: column;
  }
}
#restaurants section.dining_body main {
  width: 70%;
  transition: all 500ms ease-in-out;
}
@media (max-width: 1024px) {
  #restaurants section.dining_body main {
    width: 100%;
  }
}
#restaurants section.dining_body main div.restaurant_card {
  display: flex;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #restaurants section.dining_body main div.restaurant_card {
    flex-direction: column;
  }
}
#restaurants section.dining_body main div.restaurant_card img.restaurant_thumbnail {
  width: 40%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #restaurants section.dining_body main div.restaurant_card img.restaurant_thumbnail {
    width: 100%;
    height: 250px;
  }
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body {
  padding: 40px 20px 40px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 500ms ease-in-out;
}
@media (max-width: 425px) {
  #restaurants section.dining_body main div.restaurant_card div.restaurant_card_body {
    padding: 20px;
  }
  #restaurants section.dining_body main div.restaurant_card div.restaurant_card_body h2 {
    text-align: center;
  }
  #restaurants section.dining_body main div.restaurant_card div.restaurant_card_body div.restaurant_star_rating {
    text-align: center;
  }
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body h2 {
  margin: 0;
  padding: 0;
  color: #2c4971;
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body div.restaurant_star_rating {
  margin: 0;
  padding: 5px 0;
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body div.restaurant_star_rating img {
  width: 24px;
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body ul.restaurant_details li {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 15px;
}
#restaurants section.dining_body main div.restaurant_card div.restaurant_card_body ul.restaurant_details li img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=index.css.map */
