/* Navigation Menu */
#main-nav {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#main-nav .nav-container {
  max-width: 1440px;
  height: 66px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  padding: 0 2rem;
  align-items: center;
}
#main-nav .nav-container #brand-logo {
  margin: 0;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}
#main-nav .nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}
#main-nav .nav-container ul li {
  margin: 0 20px;
}
#main-nav .nav-container ul a {
  text-decoration: none;
  color: inherit;
}
#main-nav .nav-container ul a.active {
  color: #078088;
  font-weight: 900;
}
#main-nav .nav-container #mobile-nav-button {
  display: none;
}

/* Hero */
#hero {
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
}
#hero div {
  background: rgba(1, 117, 140, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  width: 900px;
  height: 360px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
#hero div h2 {
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
}
#hero div p {
  font-size: 20px;
}

#cta {
  background-color: #2C4971;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#cta h3 {
  font-size: 20px;
  margin: 0;
  margin-right: 4rem;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
#cta button {
  border: 1px solid #fff;
  background: #078088;
  color: #fff;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

#about_section {
  background: #EBEAEA;
  display: flex;
  align-items: stretch;
  margin-bottom: 90px;
}
#about_section div.about-image {
  width: 40%;
  background-image: url("../images/about_section.jpg");
  background-size: cover;
  background-position: center center;
}
#about_section div {
  width: 60%;
  position: relative;
  padding: 4rem 4rem;
}
#about_section div h2 {
  color: #2C4971;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#about_section div h2::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80px;
  left: 0;
  bottom: 0;
  background: #078088;
}
#about_section div p {
  font-size: 18px;
  width: 70%;
  line-height: 162.9%;
  margin-bottom: 50px;
}
#about_section div button {
  border: 2px solid #fff;
  background: #2C4971;
  color: #fff;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

#places-to-stay {
  margin-bottom: 10rem;
  padding: 0 20px;
}
#places-to-stay header {
  text-align: center;
}
#places-to-stay header h2 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 40px;
  color: #2c4971;
  text-transform: uppercase;
  line-height: 65.16px;
}
#places-to-stay main {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#places-to-stay main .my-card {
  width: 33%;
}
#places-to-stay main .my-card:nth-child(2) {
  margin: 0 20px;
}
#places-to-stay main .my-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
#places-to-stay main .my-card .card-body {
  margin-top: 18px;
  background-color: #e6e6e6;
  padding: 2rem 40px;
}
#places-to-stay main .my-card .card-body h3 {
  color: #2c4971;
  font-size: 18px;
  text-align: center;
}
#places-to-stay main .my-card .card-body .star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#places-to-stay main .my-card .card-body .star-rating img {
  width: 24px;
  height: 19px;
}
#places-to-stay main .my-card .card-body p {
  text-align: center;
  margin: 0;
}
#places-to-stay footer {
  text-align: center;
}
#places-to-stay footer a {
  display: inline-block;
  margin-top: 40px;
  background: #078088;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 500ms ease;
}
#places-to-stay footer a:hover {
  background-color: #2c4971;
}

/*# sourceMappingURL=index.css.map */
