#site_footer {
    background-color: $dark-blue;
    color: $white;
    #footer_container {
        max-width: 1300px;
        margin: 0 auto;
        padding: 4em 0;
        display: flex;
        justify-content: space-between;
        @include media($laptop) {
            padding: 3em 1em;
        }
        @include media($mobile) { 
            flex-direction: column;
            padding-bottom: 0;
        }
        div {
            width: 20%;
            padding: 0 2em;
            &:first-child {
                width: 40%;
                padding-right: 4em;
            }
            @include media($laptop) {
                padding: 0 0.5em;
                &:first-child {
                    padding-right: 2em;
                }
            }
            @include media($mobile) {
                width: 100%;
                margin-bottom: 2rem;
                &:first-child {
                    width: 100%;
                }
                &:last-child {
                    border: none;
                }
            }
            h4 { font-size: 20px}
            ul {
                list-style-type: none;
                padding: 0;
            }
            ul.social_media_icons {
                li {
                    display: inline-block;
                    margin: 0 10px;
                }
            }
            ul.footer-nav-menu {
                li {
                    font-size: 16px;
                    padding-bottom: 5px;
                    a.active {
                        font-weight: bold;
                        color:$turquoise;
                        text-shadow: 2px 2px 2px rgba(0,0,0,1);
                    }
                }
            }
        }
    }
}