#main-nav {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
    .nav-container {
        max-width: 1440px;
        height: 66px;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        padding: 0 2rem;
        align-items: center;
        position: relative;
        @include media($mobile) {
            height: 10vh;
        }
        #brand-name {
            #brand-logo {
                margin: 0;
                font-weight: 900;
                font-size: 20px;
                text-transform: uppercase;
            }
            h5 {
                font-size: 14px;
                text-transform: none;
                margin: 0;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;
            li {
                margin: 0 20px;
            }
            a {
                text-decoration: none;
                color: inherit;
                &.active {
                    color: #078088;
                    font-weight: 900;
                }
            }
            
            @include media($tablet) {
                position: absolute;
                right: -120%;
                top: 100%;
                width: 100%;
                background-color: $white;
                li {
                    padding: 1em 0;
                }
                &.open {
                    display: flex;
                    right: 0;
                }
            }
            @include media($mobile) {
                flex-direction: column;
                padding: 1em 0.5em;
                li {
                    padding: 0.5em 0;
                }
            }

        }
        #mobile-nav-button {
            display: none;
            cursor: pointer;
            span {
                display: block;
                width: 30px;
                height: 4px;
                background: $dark-blue;
                
                &:nth-child(2) {
                    margin: 4px 0;
                }
            }

            @include media($tablet) {
                display: block;
            }
        }
    }
}