$dark-blue: #2C4971;
$turquoise: #078088;
$light-grey: #e6e6e6;
$white: #ffffff;

/* Media query screen sizes */
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

/* Media Query */
@mixin media($bp) {
    transition: all 500ms ease-in-out;
    @if $bp == 1024px {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $bp == 768px {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $bp == 425px {
        @media (max-width: 425px) {
            @content;
        }
    }
}
* {
    box-sizing: border-box;
    transition: all 500ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Menu */
@import './partials/main_nav.scss';

/* Hero */
@import './partials/hero.scss';

// About section on home page
@import './partials/about_section.scss';

// Places to stay section on home page
@import './partials/places_to_stay_section.scss';

// Things to do section 
@import './partials/things_to_do_section.scss';

// Shuttle services section 
@import './partials/shuttle_services_section.scss';

// Footer section
@import './partials/footer_section.scss';
