#restaurants {
    margin-bottom: 40rem;
    header.dining_header {
        background-image: url('../images/dining.jpg');
        background-size: cover cover;
        background-position: center center;
        padding: 2rem 10px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: $white;
        h2 {
            text-shadow: 2px 2px 2px #000;
        }
    }
    section.dining_body {
        max-width: 1440px;
        margin: 2rem auto;
        display: flex;
        main {
            width: 70%;
            div.restaurant_card {
                display: flex;
                background-color: $light-grey;
                margin-bottom: 20px;
                img.restaurant_thumbnail {
                    width: 40%;
                    object-fit: cover;
                }
                div.restaurant_card_body {
                    padding: 40px 20px 40px 40px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    h2 {
                        margin: 0;
                        padding: 0;
                        color: $dark-blue;
                    }
                    div.restaurant_star_rating {
                        margin: 0;
                        padding: 5px 0;
                        img {
                            width: 24px;
                        }
                    }
                    ul.restaurant_details {
                        li {
                            img {
                                margin-right: 10px;
                                width: 20px;
                                height: 20px;
                            }
                            display: flex;
                            align-items: center;
                            margin: 8px 0;
                            font-size: 15px;
                        }
                    }
                    
                }
            }
        }
    }
}